@charset "utf-8";

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}
@font-face {
  font-family: MaruBuri-EL;
  src: url(../webfonts/MaruBuri-ExtraLight.otf) format("opentype");
}
@font-face {
  font-family: MaruBuri-L;
  src: url(../webfonts/MaruBuri-Light.otf) format("opentype");
}
@font-face {
  font-family: Delicate;
  src: url(../webfonts/Delicate\ Caligraphy\ Demo.woff) format("woff");
}
@font-face {
  font-family: NanumSquareR;
  src: url(../webfonts/NanumSquareR.otf) format("opentype");
}
@font-face {
  font-family: NanumSquareB;
  src: url(../webfonts/NanumSquareB.otf) format("opentype");
}

/* header 시작 */
#header{
  font-family: MaruBuri-EL;
  display: flex; flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; box-sizing: border-box;
  height: 50px; width: 100%;
  position: fixed;
  z-index:9;
  text-align:center;
  padding: 20px 30px 0; box-sizing: border-box;
  top:0px;
  background-image: linear-gradient(rgba(0, 0, 0, .3),rgba(0, 0, 0, .1),transparent);
}
#header a{color: #fff;}
#header .logo img{width:92%; min-width: 80px; vertical-align: middle;}
#header ul{display: flex;}
#header ul.nav li a{margin: 0 60px;}
#header ul.r_menu li a{margin: 0 20px;}


/* section0 시작 */
#section0 .slide{
  position: relative;
}
#section0 .slide .intro img{
  position: absolute;
  left: 0; top: 0;
}
#section0 .slide .intro img:nth-child(1),
#section0 .slide .intro img:nth-child(2){
  width: 100%; height: 100%; object-fit: cover;
}
#section0 .slide .intro img:nth-child(3){
  width: 25%; min-width: 250px;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}


/* section1 시작 */
#section1{
  font-family: MaruBuri-L; text-align: center;
  background-image: url(../images/section2_bg_texture_2.jpg);
  overflow: hidden;
}
.fp-scroller{height: 100vh;}
#section1 .s1{
  /* background-color: rgba(255, 255, 255, .45); */
  display: flex; justify-content: center; gap: 10%;
  align-items: center;
  height: 100%; width: 100%;
}
#section1 .s1 .left img{width: 45%; margin-bottom: 10px;}
#section1 .s1 .left p{line-height: 35px; color: #333;}
#section1 .s1 .right{
  width: 45%; max-width: 605px;
  position: relative;
}
#section1 .s1 .right::after{
  content: "";
  background-image: url(../images/section2_mainimg_circle_word.png);
  width: 70%; height: 93%;
  position: absolute; left: 10px; top: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}
#section1 .s1 .right img:nth-child(1){width: 100%;}
#section1 .s1 .right img:nth-child(2){
  position: absolute;
  width: 70%;
  top: 35%; right: 0;
  transform: translateY(-35%);
  z-index: 1;
}


/* section2 시작 */


/* section3 시작 */
.wrap{width: 100%; display: flex; justify-content: center;}
.wrap>div{}
.wrap .left{
  position: relative;
  width: 50%; height: 100vh;
}
.wrap .left p, .wrap .left h1{
  position: absolute;
}
.wrap .left p.l_bg img{
  width: 100%; object-fit: cover;
  min-height: 100vh;
}
.wrap .left h1{
  top: 8%;
  font-family: Delicate;
  font-weight: normal;
  font-size: 80px; width: 100%;
  text-align: center;
  color: #222;
}
.wrap .left p.mainImg{
  text-align: center;
  top: 23%; left: 50%;
  transform: translateX(-50%);
  width: 70%; max-width: 450px;
  
}
.wrap .left p.mainImg img{
   object-fit: cover;
   width: 100%;
}
.wrap .left p.logo{
  left: 0; bottom: 10%;
}
.wrap .left p.logo img{
  width: 70%;
}

.wrap .right{
  background-image: url(../images/section4-7_sub_bg_texture.jpg);
  background-size: cover;
  width: 50%; height: 3000px;
}
.wrap .right > div{
  display: flex;
  margin: 70px auto;
  justify-content: center; gap: 10%;
  align-items: center;
  width: 80%;
}
.wrap .right > div > p{
  width: 48%; aspect-ratio: 1 / 1.2;
  overflow: hidden;
}
.wrap .right > div.one p{border-radius: 0 50px 0 0;}
.wrap .right > div p img{
  object-fit: cover;
}
.wrap .right > div.one p img{
  width: 220%;
  object-position: -130px -270px;
}
.wrap .right > div .txt{
  display: flex; flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: #333;
}
.wrap .right > div .txt img{
  width: 60%; margin: 0 auto;
}
.wrap .right > div .txt p:nth-of-type(1){
  font-family: NanumSquareR;
}
.wrap .right > div .txt p:nth-of-type(2){
  font-family: NanumSquareB;
  font-size: 15px;
}